@using TrainingNet.Models.Views
@using TrainingNet.Models.DataBase
@Model MovieViewModel

<h2>Edit movie</h2>

@Html.Partial("_ShowMovie")
<textarea id="userComment" 
        cols="20"
        name="comment"
        rows="2"
        placeholder="Tell us what you thought..."></textarea>
<a class="btn comment-btn" data-movieId="@Model.Id">send</a>
<ul id="commentList">
    @foreach (Comment comment in Model.Comments)
    {
        <li>
            @Html.DisplayFor(item => comment.content)
        </li>
    }
</ul>
