@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Welcome";
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
<<<<<<< 44ee187428a4683b62037806baa1cbb14e0cedaf
=======


>>>>>>> finished Repository pattern card
<h2>Welcome</h2>
<ul>
    @for(int i = 0; i < (int) ViewData["NumTimes"]; i++){
        <li>@ViewData["Message"]</li>
        <li>@Localizer["GlobMessage"]</li>
    }
</ul>
